/Datatype.class
/Number.class
/StringApp.class
/Variable.class
/Letter.class
/Casting.class
/bool.class
/JavaIf.class
/JavaScanner.class
/JavaScanner2.class
/JavaRandom.class
/JavaArray.class
/JavaArray2.class
/Solution.class
/SumMatrix.class
/JavaArray3.class
/AddMetrix.class
/JavaArray4.class
